:root {
    --main-bg-color: #186191;
    --main-text-color: #186191;
    --para-color: ;
    --link-color: #186191;
    --button-bg-color: #186191;
    ;
    --button-text-color: #fff;
}

.site-bg {
    background-color: var(--main-bg-color);
}

.site-text {
    color: var(--main-text-color);
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    /* Customize the background color */
    z-index: 9999;
}

#preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bike {
    display: block;
    margin: auto;
    width: 16em;
    height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
    animation: bikeBody 3s ease-in-out infinite;
    stroke: var(--primary);
    transition: stroke var(--trans-dur);
}

.bike__front {
    animation-name: bikeFront;
}

.bike__handlebars {
    animation-name: bikeHandlebars;
}

.bike__pedals {
    animation-name: bikePedals;
}

.bike__pedals-spin {
    animation-name: bikePedalsSpin;
}

.bike__seat {
    animation-name: bikeSeat;
}

.bike__spokes,
.bike__tire {
    stroke: currentColor;
}

.bike__spokes {
    animation-name: bikeSpokes;
}

.bike__spokes-spin {
    animation-name: bikeSpokesSpin;
}

.bike__tire {
    animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 10%);
        --fg: hsl(var(--hue), 90%, 90%);
    }
}

/* Animations */
@keyframes bikeBody {
    from {
        stroke-dashoffset: 79;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -79;
    }
}

@keyframes bikeFront {
    from {
        stroke-dashoffset: 19;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -19;
    }
}

@keyframes bikeHandlebars {
    from {
        stroke-dashoffset: 10;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -10;
    }
}

@keyframes bikePedals {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -25.133;
    }

    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -21.991;
    }

    to {
        stroke-dashoffset: -25.133;
    }
}

@keyframes bikePedalsSpin {
    from {
        transform: rotate(0.1875turn);
    }

    to {
        transform: rotate(3.1875turn);
    }
}

@keyframes bikeSeat {
    from {
        stroke-dashoffset: 5;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -5;
    }
}

@keyframes bikeSpokes {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -31.416;
    }

    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -23.562;
    }

    to {
        stroke-dashoffset: -31.416;
    }
}

@keyframes bikeSpokesSpin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(3turn);
    }
}

@keyframes bikeTire {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: 56.549;
        transform: rotate(0);
    }

    33% {
        stroke-dashoffset: 0;
        transform: rotate(0.33turn);
    }

    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: 0;
        transform: rotate(0.67turn);
    }

    to {
        stroke-dashoffset: -56.549;
        transform: rotate(1turn);
    }
}

/* Preloader */


/*------sidebar & Navbar Start-------*/
.navbar-dark {
    background: linear-gradient(rgb(4 181 207 / 50%), rgb(35 122 122 / 50%)), url(../images/navbar_pic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand img {
    height: 32px;
    width: 10rem;
    background: linear-gradient(rgb(255 247 248 / 50%), rgb(255 255 255 / 53%));
}

.sidebar-dark {
    --sidebar-width: 13rem;
    background: #030c24e3 url(../images/backgrounds/panel_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.notification_dropdown {
    right: 0;
    left: auto !important;
}


/* .nav-sidebar {
    --nav-link-padding-x: 0.9rem;
} */
.nav-sidebar {
    --nav-link-padding-x: 0.5rem;
}

.nav-group-sub .nav-link {
    /* padding-left: calc(var(--nav-link-padding-x) * 0.7 + var(--icon-font-size)); */
    padding-left: calc(var(--nav-link-padding-x) * 0.1 + var(--icon-font-size));
}
.nav-item-submenu>.nav-link{
    padding-left: calc(var(--nav-link-padding-x) * 0.7 );
    padding-right: calc(var(--nav-link-padding-x) * 0.7 );
}
.sidebar-content ::-webkit-scrollbar{
    width: 0;
}
.nav-link {
    font-size: 13px;
}

.sidebar-content:-webkit-scrollbar {
    display: none;
}

/*------sidebar & Navbar End-------*/

/*------Datatable Start-------*/
.dataTable thead .sorting:after,
.dataTable thead .sorting:before,
.dataTable thead .sorting_asc_disabled:before,
.dataTable thead .sorting_desc_disabled:after {
    font-size: 10px;
}

/* DataTable Pagination */
.dataTables_info {
    margin: 0px;
    padding: 10px;
    visibility: hidden;
}

.dataTables_paginate {
    margin: 0px;
    padding: 0px;
}

table thead tr {
    height: 24px;
}

.datatable-footer {
    border-top: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background: #f1f4f9;
}

.dataTables_filter,
.dataTables_length {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#DataTables_Table_0_wrapper {
    margin-top: -10px;
}

#DataTables_Table_0_filter input,
.dataTables_filter .form-control {
    border: 1px solid #afaeae;
    margin-left: 4px;
    height: 31px;
    font-size: 11px;
    border-radius: 2px;
    padding: 4px;
    width: 6rem;
    font-weight: 500;
}

#DataTables_Table_0_filter label span {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 5px;
}

#DataTables_Table_0_length label span {
    margin-left: 5px;
    margin-right: 5px;
}

.datatable-header {
    border-bottom: none;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

}

.card-body .datatable-header {
    position: relative;
    bottom: 5px;
}

#DataTables_Table_0_previous {
    margin-right: 30px;
}

#DataTables_Table_0_next {
    margin-right: 10px;
}

.dataTables_filter .form-control {
    width: 7rem;
}

#DataTables_Table_0_length select {
    margin-left: 4px;
    margin-right: 4px;
    text-transform: capitalize;
    font-size: 10px;
    height: 32px;
    padding: 0px 0px 0px 1.5rem;
    border-radius: 0;
    width: 3rem;
    --form-select-bg-size: 36px 12px;

}

.table {
    --table-cell-padding-y: 0.5rem;
}

.table_header {
    position: relative;
    margin-bottom: -5rem;
}

.table_header_content {
    z-index: 999;
}

.table_header_button {
    --btn-padding-y: 0.2rem;
    --btn-padding-x: 0.75rem;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    padding-left: calc(var(--btn-padding-y) * 1 + var(--btn-border-width) * 1 + var(--btn-font-size) * var(--btn-line-height) + var(--btn-padding-x));
    border-radius: 0;
}

.table_header_text {
    position: relative;
    margin-left: 300px;
    color: #247297;
    top: -2rem;
}

.pagination {
    --pagination-padding-x: 0.1rem;
    --pagination-padding-y: 0.1rem;
}

.form-label {
    margin-bottom: 4px;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

.select2-container {
    --s2-border-radius: 0;
}


/*------Datatable End-------*/
@media (max-width: 767px) {
    .header-left {
        float: left;
    }

    .header-middle {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .header-right {
        float: right;
    }
}

/* Shahed 24/7/23 */
label {
    font-size: 12px;
    font-weight: 500;
}

.ck.ck-toolbar {
    height: 33px;
    font-size: 10px;
}

.form-check-label {
    font-size: 12px;
}

.form-select {
    font-size: 10px;
    height: 25px;
    padding: 0px 0px 0px 19px;
    border-radius: 2px;
    width: 100%;
}

.select2-search {
    height: 23px;
    margin-top: -5px;
    margin-bottom: 2px;
}

.nav-link {
    width: 100%;
}

.bootstrap-tagsinput{
    border-radius: 0;
    margin-top: 4px;
}

.bootstrap-tagsinput .badge {
    margin: 2px 2px;
    padding: 5px 5px;
    font-size: 98%;
    font-weight: 700;
    font-size: 100%;
    font-weight: 600;
    border-radius: 2px;
}
